<!DOCTYPE html>
<html lang="ja">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form data-th-action="@{/registerStudent}" data-th-object="${studentDetail}" method="post">
  <div>
    <label for="name">名前</label>
    <input type="text" id="name" data-th-field="*{student.name}" required/>
  </div>
  <div>
    <label for="furigana">フリガナ</label>
    <input type="text" id="furigana" data-th-field="*{student.furigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム</label>
    <input type="text" id="nickname" data-th-field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="email">メールアドレス</label>
    <input type="text" id="email" data-th-field="*{student.email}" required/>
  </div>
  <div>
    <label for="address">居地域</label>
    <input type="text" id="address" data-th-field="*{student.address}" required/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="number" id="age" data-th-field="*{student.age}" required/>
  </div>
  <div>
    <label for="gender">性別</label>
    <input type="text" id="gender" data-th-field="*{student.gender}" required/>
  </div>
  <div>
    <label for="remark">備考</label>
    <input type="text" id="remark" data-th-field="*{student.remark}" required/>
  </div>
  <div>
    <label for="courseName">コース名</label>
    <input type="text" id="courseName"
           data-th-field="*{studentsCourses[0].courseName}"
           required/>
  </div>
  <div>
    <label for="courseStartAt">受講開始日</label>
    <input type="datetime-local" id="courseStartAt"
           data-th-field="*{studentsCourses[0].courseStartAt}" required/>
  </div>
  <div>
    <label for="courseEndAt">受講終了予定日</label>
    <input type="datetime-local" id="courseEndAt"
           data-th-field="*{studentsCourses[0].courseEndAt}" required/>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>